# -----------------------
# FLUTTER / DART (Archivos generados)
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# -----------------------
# ANDROID (Archivos de compilación y locales)
# -----------------------
android/local.properties
android/gradle/wrapper/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/app/build/
android/app/release/
android/key.properties
*.jks
*.keystore
*.pem

# Si usas Google Services (Firebase) y el repo es PÚBLICO, descomenta esto:
# android/app/google-services.json

# -----------------------
# IOS (Archivos generados por Xcode)
# -----------------------
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/.generated/
ios/Pods/
ios/Podfile.lock
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcuserstate

# Si usas Google Services (Firebase) y el repo es PÚBLICO, descomenta esto:
# ios/Runner/GoogleService-Info.plist

# -----------------------
# ENTORNOS DE DESARROLLO (IDE)
# -----------------------
# VS Code
.vscode/
*.code-workspace

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# -----------------------
# SISTEMA OPERATIVO
# -----------------------
# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# -----------------------
# SECRETOS Y VARIABLES DE ENTORNO
# -----------------------
.env
.env.*
env/