<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15580294749-0jtkh7pjar5bnko2cq0ebampnbalir3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15580294749-0jtkh7pjar5bnko2cq0ebampnbalir3l</string>
	<key>API_KEY</key>
	<string>AIzaSyC60VPQ3Ggm4qyKeKZLSzYtPO3z8OCFoTU</string>
	<key>GCM_SENDER_ID</key>
	<string>15580294749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vibra-project</string>
	<key>PROJECT_ID</key>
	<string>vibra-3ef1c</string>
	<key>STORAGE_BUCKET</key>
	<string>vibra-3ef1c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15580294749:ios:508b122c8a0f5b2251a7b4</string>
</dict>
</plist>